#  apply 메서드 활용
* apply 메서드는 사용자가 작성한 함수를 한 번에 데이터프레임의 각 행과 열에 적용하여 실행할 수 있게 해주는 메서드입니다.

## 데이터프레임의 누락값을처리한 다음 apply메서드 사용하기

## 1. 데이터프레임의 누락값 처리하기 - 열 방향

In [1]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')

In [2]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
print(titanic.info())   #891명

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [4]:
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    print('vec:',vec)
    null_count = np.sum(null_vec)
    print('null_count: ', null_count)
    return null_count

In [5]:
cmis_col = titanic.apply(count_missing)    #count_missing 함수를 titanic에 적용하겠다.
print(cmis_col)

vec: 0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64
null_count:  0
vec: 0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: pclass, Length: 891, dtype: int64
null_count:  0
vec: 0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 891, dtype: object
null_count:  0
vec: 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64
null_count:  177
vec: 0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: sibsp, Length: 891, dtype: int64
null_count:  0
vec: 0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: parch, Length: 891, dtype: int64
null_count:  0
vec: 0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64
null_count:  0
vec: 0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object
null_count:  2
vec: 0       Third
1       First
2       Third
3       First
4       Third
        ...
886    Second
887     First
888     Third
889     First
890     Third
Name: class, Length: 891, dtype: category
Categories (3, object): ['First', 'Second', 'Third']
null_count:  0
vec: 0        man
1      woman
2      woman
3      woman
4        man
       ...
886      man
887    woman
888    woman
889      man
890      man
Name: who, Length: 891, dtype: object
null_count:  0
vec: 0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: adult_male, Length: 891, dtype: bool
null_count:  0
vec: 0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: deck, Length: 891, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']
null_count:  688
vec: 0      Southampton
1        Cherbourg
2      Southampton
3      Southampton
4      Southampton
          ...
886    Southampton
887    Southampton
888    Southampton
889      Cherbourg
890     Queenstown
Name: embark_town, Length: 891, dtype: object
null_count:  2
vec: 0       no
1      yes
2      yes
3      yes
4       no
      ...
886     no
887    yes
888     no
889    yes
890     no
Name: alive, Length: 891, dtype: object
null_count:  0
vec: 0      False
1      False
2       True
3      False
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: alone, Length: 891, dtype: bool
null_count:  0
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
#prop_missing 누락값의 비율을 계산
# count_missing 함수를 이용하여 누락값의 개수를 구하고 size속성을 이용하여 df의 전체 데이터 수를 구하여 나눔

def prop_missing(vec):
    num = count_missing(vec)
    #print('num:', num)
    dem = vec.size
    #print('dem: ', dem)
    print(f'누락값의 갯수(num) ->{num} 전체 데이터 수(dem) -> {dem}')
    #print('누락값의 갯수(num) ->%d, 전체 데이터 수(dem) -> %d' %(num,dem))
    return num / dem

In [7]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

vec: 0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: pclass, Length: 891, dtype: int64
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 891, dtype: object
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64
null_count:  177
누락값의 갯수(num) ->177 전체 데이터 수(dem) -> 891
vec: 0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: sibsp, Length: 891, dtype: int64
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: parch, Length: 891, dtype: int64
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object
null_count:  2
누락값의 갯수(num) ->2 전체 데이터 수(dem) -> 891
vec: 0       Third
1       First
2       Third
3       First
4       Third
        ...
886    Second
887     First
888     Third
889     First
890     Third
Name: class, Length: 891, dtype: category
Categories (3, object): ['First', 'Second', 'Third']
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0        man
1      woman
2      woman
3      woman
4        man
       ...
886      man
887    woman
888    woman
889      man
890      man
Name: who, Length: 891, dtype: object
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: adult_male, Length: 891, dtype: bool
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: deck, Length: 891, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']
null_count:  688
누락값의 갯수(num) ->688 전체 데이터 수(dem) -> 891
vec: 0      Southampton
1        Cherbourg
2      Southampton
3      Southampton
4      Southampton
          ...
886    Southampton
887    Southampton
888    Southampton
889      Cherbourg
890     Queenstown
Name: embark_town, Length: 891, dtype: object
null_count:  2
누락값의 갯수(num) ->2 전체 데이터 수(dem) -> 891
vec: 0       no
1      yes
2      yes
3      yes
4       no
      ...
886     no
887    yes
888     no
889    yes
890     no
Name: alive, Length: 891, dtype: object
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
vec: 0      False
1      False
2       True
3      False
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: alone, Length: 891, dtype: bool
null_count:  0
누락값의 갯수(num) ->0 전체 데이터 수(dem) -> 891
survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [8]:
#누락값이 아닌 데이터 비율을 구함
# 전체(1) - 누락값의 비율

def prop_complete(vec):
    return 1 - prop_missing(vec)

## 8. 데이터프레임의 누락값을 처리하기 - 행 방향

In [9]:
cmis_row = titanic.apply(count_missing, axis = 1)
pmis_row = titanic.apply(prop_missing, axis = 1)
pcom_row = titanic.apply(prop_complete, axis = 1)
print(cmis_row.head())

vec: survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex               female
age                 38.0
sibsp                  1
parch                  0
fare             71.2833
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone              False
Name: 1, dtype: object
null_count:  0
vec: survived                 1
pclass                   3
sex                 female
age                   26.0
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 2, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   35.0
sibsp                    1
parch                    0
fare                  53.1
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 3, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   35.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 4, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare               8.4583
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 5, dtype: object
null_count:  2
vec: survived                 0
pclass                   1
sex                   male
age                   54.0
sibsp                    0
parch                    0
fare               51.8625
embarked                 S
class                First
who                    man
adult_male            True
deck                     E
embark_town    Southampton
alive                   no
alone                 True
Name: 6, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                    2.0
sibsp                    3
parch                    1
fare                21.075
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 7, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   27.0
sibsp                    0
parch                    2
fare               11.1333
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 8, dtype: object
null_count:  1
vec: survived               1
pclass                 2
sex               female
age                 14.0
sibsp                  1
parch                  0
fare             30.0708
embarked               C
class             Second
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 9, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                    4.0
sibsp                    1
parch                    1
fare                  16.7
embarked                 S
class                Third
who                  child
adult_male           False
deck                     G
embark_town    Southampton
alive                  yes
alone                False
Name: 10, dtype: object
null_count:  0
vec: survived                 1
pclass                   1
sex                 female
age                   58.0
sibsp                    0
parch                    0
fare                 26.55
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                 True
Name: 11, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   20.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 12, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   39.0
sibsp                    1
parch                    5
fare                31.275
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 13, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   14.0
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 14, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   55.0
sibsp                    0
parch                    0
fare                  16.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 15, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                   2.0
sibsp                   4
parch                   1
fare               29.125
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 16, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 17, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                 female
age                   31.0
sibsp                    1
parch                    0
fare                  18.0
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 18, dtype: object
null_count:  1
vec: survived               1
pclass                 3
sex               female
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 19, dtype: object
null_count:  2
vec: survived                 0
pclass                   2
sex                   male
age                   35.0
sibsp                    0
parch                    0
fare                  26.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 20, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                   male
age                   34.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                     D
embark_town    Southampton
alive                  yes
alone                 True
Name: 21, dtype: object
null_count:  0
vec: survived                1
pclass                  3
sex                female
age                  15.0
sibsp                   0
parch                   0
fare               8.0292
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 22, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                   male
age                   28.0
sibsp                    0
parch                    0
fare                  35.5
embarked                 S
class                First
who                    man
adult_male            True
deck                     A
embark_town    Southampton
alive                  yes
alone                 True
Name: 23, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                 female
age                    8.0
sibsp                    3
parch                    1
fare                21.075
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 24, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   38.0
sibsp                    1
parch                    5
fare               31.3875
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 25, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 26, dtype: object
null_count:  2
vec: survived                 0
pclass                   1
sex                   male
age                   19.0
sibsp                    3
parch                    2
fare                 263.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                False
Name: 27, dtype: object
null_count:  0
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.8792
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 28, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 29, dtype: object
null_count:  2
vec: survived               0
pclass                 1
sex                 male
age                 40.0
sibsp                  0
parch                  0
fare             27.7208
embarked               C
class              First
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 30, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex               female
age                  NaN
sibsp                  1
parch                  0
fare            146.5208
embarked               C
class              First
who                woman
adult_male         False
deck                   B
embark_town    Cherbourg
alive                yes
alone              False
Name: 31, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 32, dtype: object
null_count:  2
vec: survived                 0
pclass                   2
sex                   male
age                   66.0
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 33, dtype: object
null_count:  1
vec: survived               0
pclass                 1
sex                 male
age                 28.0
sibsp                  1
parch                  0
fare             82.1708
embarked               C
class              First
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 34, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                   42.0
sibsp                    1
parch                    0
fare                  52.0
embarked                 S
class                First
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 35, dtype: object
null_count:  1
vec: survived               1
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 36, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   21.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 37, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   18.0
sibsp                    2
parch                    0
fare                  18.0
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 38, dtype: object
null_count:  1
vec: survived               1
pclass                 3
sex               female
age                 14.0
sibsp                  1
parch                  0
fare             11.2417
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 39, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   40.0
sibsp                    1
parch                    0
fare                 9.475
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 40, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                 female
age                   27.0
sibsp                    1
parch                    0
fare                  21.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 41, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.8958
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 42, dtype: object
null_count:  2
vec: survived               1
pclass                 2
sex               female
age                  3.0
sibsp                  1
parch                  2
fare             41.5792
embarked               C
class             Second
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 43, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                  19.0
sibsp                   0
parch                   0
fare               7.8792
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 44, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S

vec: survived                0
pclass                  3
sex                  male
age                  19.0
sibsp                   0
parch                   0
fare                 6.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 143, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   18.0
sibsp                    0
parch                    0
fare                  11.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 144, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   19.0
sibsp                    1
parch                    1
fare                 36.75
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 145, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                   male
age                   27.0
sibsp                    0
parch                    0
fare                7.7958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 146, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                    9.0
sibsp                    2
parch                    2
fare                34.375
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 147, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   36.5
sibsp                    0
parch                    2
fare                  26.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                     F
embark_town    Southampton
alive                   no
alone                False
Name: 148, dtype: object
null_count:  0
vec: survived                 0
pclass                   2
sex                   male
age                   42.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 149, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   51.0
sibsp                    0
parch                    0
fare                12.525
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 150, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   22.0
sibsp                    1
parch                    0
fare                  66.6
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 151, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   55.5
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 152, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   40.5
sibsp                    0
parch                    2
fare                  14.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 153, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.3125
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 154, dtype: object
null_count:  2
vec: survived               0
pclass                 1
sex                 male
age                 51.0
sibsp                  0
parch                  1
fare             61.3792
embarked               C
class              First
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 155, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                  16.0
sibsp                   0
parch                   0
fare               7.7333
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 156, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   30.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 157, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 158, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 159, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   44.0
sibsp                    0
parch                    1
fare                  16.1
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 160, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   40.0
sibsp                    0
parch                    0
fare                 15.75
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 161, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   26.0
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 162, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   17.0
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 163, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    1.0
sibsp                    4
parch                    1
fare               39.6875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 164, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                   male
age                    9.0
sibsp                    0
parch                    2
fare                20.525
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 165, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                    NaN
sibsp                    0
parch                    1
fare                  55.0
embarked                 S
class                First
who                  woman
adult_male           False
deck                     E
embark_town    Southampton
alive                  yes
alone                False
Name: 166, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   45.0
sibsp                    1
parch                    4
fare                  27.9
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 167, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                25.925
embarked                 S
class                First
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 168, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   28.0
sibsp                    0
parch                    0
fare               56.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 169, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                   61.0
sibsp                    0
parch                    0
fare                  33.5
embarked                 S
class                First
who                    man
adult_male            True
deck                     B
embark_town    Southampton
alive                   no
alone                 True
Name: 170, dtype: object
null_count:  0
vec: survived                0
pclass                  3
sex                  male
age                   4.0
sibsp                   4
parch                   1
fare               29.125
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 171, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                    1.0
sibsp                    1
parch                    1
fare               11.1333
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 172, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   21.0
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 173, dtype: object
null_count:  1
vec: survived               0
pclass                 1
sex                 male
age                 56.0
sibsp                  0
parch                  0
fare             30.6958
embarked               C
class              First
who                  man
adult_male          True
deck                   A
embark_town    Cherbourg
alive                 no
alone               True
Name: 174, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   18.0
sibsp                    1
parch                    1
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 175, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    3
parch                    1
fare               25.4667
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 176, dtype: object
null_count:  2
vec: survived               0
pclass                 1
sex               female
age                 50.0
sibsp                  0
parch                  0
fare             28.7125
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                 no
alone               True
Name: 177, dtype: object
null_count:  0
vec: survived                 0
pclass                   2
sex                   male
age                   30.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 178, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   36.0
sibsp                    0
parch                    0
fare                   0.0
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 179, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 180, dtype: object
null_count:  2
vec: survived               0
pclass                 2
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               15.05
embarked               C
class             Second
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 181, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                    9.0
sibsp                    4
parch                    2
fare               31.3875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 182, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                   male
age                    1.0
sibsp                    2
parch                    1
fare                  39.0
embarked                 S
class               Second
who                  child
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                False
Name: 183, dtype: object
null_count:  0
vec: survived                 1
pclass                   3
sex                 female
age                    4.0
sibsp                    0
parch                    2
fare                22.025
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 184, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  50.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     A
embark_town    Southampton
alive                   no
alone                 True
Name: 185, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   1
parch                   0
fare                 15.5
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone               False
Name: 186, dtype: object
null_count:  2
vec: survived                 1
pclass                   1
sex                   male
age                   45.0
sibsp                    0
parch                    0
fare                 26.55
embarked                 S
class                First
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton

vec: survived                0
pclass                  3
sex                  male
age                  40.0
sibsp                   1
parch                   1
fare                 15.5
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 188, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   36.0
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 189, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   32.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 190, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   19.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 191, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   19.0
sibsp                    1
parch                    0
fare                7.8542
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 192, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                   male
age                    3.0
sibsp                    1
parch                    1
fare                  26.0
embarked                 S
class               Second
who                  child
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                False
Name: 193, dtype: object
null_count:  0
vec: survived               1
pclass                 1
sex               female
age                 44.0
sibsp                  0
parch                  0
fare             27.7208
embarked               C
class              First
who                woman
adult_male         False
deck                   B
embark_town    Cherbourg
alive                yes
alone               True
Name: 194, dtype: object
null_count:  0
vec: survived               1
pclass                 1
sex               female
age                 58.0
sibsp                  0
parch                  0
fare            146.5208
embarked               C
class              First
who                woman
adult_male         False
deck                   B
embark_town    Cherbourg
alive                yes
alone               True
Name: 195, dtype: object
null_count:  0
vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 196, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   42.0
sibsp                    0
parch                    1
fare                8.4042
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 197, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 198, dtype: object
null_count:  2
vec: survived                 0
pclass                   2
sex                 female
age                   24.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 199, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   28.0
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 200, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 201, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   34.0
sibsp                    0
parch                    0
fare                6.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 202, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                 45.5
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 203, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                   male
age                   18.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 204, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                    2.0
sibsp                    0
parch                    1
fare               10.4625
embarked                 S
class                Third
who                  child
adult_male           False
deck                     G
embark_town    Southampton
alive                   no
alone                False
Name: 205, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   32.0
sibsp                    1
parch                    0
fare                 15.85
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 206, dtype: object
null_count:  1
vec: survived               1
pclass                 3
sex                 male
age                 26.0
sibsp                  0
parch                  0
fare             18.7875
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 207, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                  16.0
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 208, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex                 male
age                 40.0
sibsp                  0
parch                  0
fare                31.0
embarked               C
class              First
who                  man
adult_male          True
deck                   A
embark_town    Cherbourg
alive                yes
alone               True
Name: 209, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   24.0
sibsp                    0
parch                    0
fare                  7.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 210, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   35.0
sibsp                    0
parch                    0
fare                  21.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 211, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 212, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   30.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 213, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   1
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 214, dtype: object
null_count:  2
vec: survived               1
pclass                 1
sex               female
age                 31.0
sibsp                  1
parch                  0
fare             113.275
embarked               C
class              First
who                woman
adult_male         False
deck                   D
embark_town    Cherbourg
alive                yes
alone              False
Name: 215, dtype: object
null_count:  0
vec: survived                 1
pclass                   3
sex                 female
age                   27.0
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 216, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   42.0
sibsp                    1
parch                    0
fare                  27.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 217, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex               female
age                 32.0
sibsp                  0
parch                  0
fare             76.2917
embarked               C
class              First
who                woman
adult_male         False
deck                   D
embark_town    Cherbourg
alive                yes
alone               True
Name: 218, dtype: object
null_count:  0
vec: survived                 0
pclass                   2
sex                   male
age                   30.0
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 219, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                   male
age                   16.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 220, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   27.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 221, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   51.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 222, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 223, dtype: object
null_count:  2
vec: survived                 1
pclass                   1
sex                   male
age                   38.0
sibsp                    1
parch                    0
fare                  90.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 224, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    0
parch                    0
fare                  9.35
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 225, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                   male
age                   19.0
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 226, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   20.5
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 227, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   18.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 228, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    3
parch                    1
fare               25.4667
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 229, dtype: object
null_count:  2
vec: survived                 1
pclass                   1
sex                 female
age                   35.0
sibsp                    1
parch                    0
fare                83.475
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 230, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   29.0
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 231, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   59.0
sibsp                    0
parch                    0
fare                  13.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 232, dtype: object
null_count:  1
vec: survived                 1

vec: survived                 0
pclass                   3
sex                   male
age                   44.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 696, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.7333
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 697, dtype: object
null_count:  2
vec: survived               0
pclass                 1
sex                 male
age                 49.0
sibsp                  1
parch                  1
fare            110.8833
embarked               C
class              First
who                  man
adult_male          True
deck                   C
embark_town    Cherbourg
alive                 no
alone              False
Name: 698, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   42.0
sibsp                    0
parch                    0
fare                  7.65
embarked                 S
class                Third
who                    man
adult_male            True
deck                     F
embark_town    Southampton
alive                   no
alone                 True
Name: 699, dtype: object
null_count:  0
vec: survived               1
pclass                 1
sex               female
age                 18.0
sibsp                  1
parch                  0
fare             227.525
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone              False
Name: 700, dtype: object
null_count:  0
vec: survived                 1
pclass                   1
sex                   male
age                   35.0
sibsp                    0
parch                    0
fare               26.2875
embarked                 S
class                First
who                    man
adult_male            True
deck                     E
embark_town    Southampton
alive                  yes
alone                 True
Name: 701, dtype: object
null_count:  0
vec: survived               0
pclass                 3
sex               female
age                 18.0
sibsp                  0
parch                  1
fare             14.4542
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 702, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                  25.0
sibsp                   0
parch                   0
fare               7.7417
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 703, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   26.0
sibsp                    1
parch                    0
fare                7.8542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 704, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   39.0
sibsp                    0
parch                    0
fare                  26.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 705, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   45.0
sibsp                    0
parch                    0
fare                  13.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 706, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                   male
age                   42.0
sibsp                    0
parch                    0
fare               26.2875
embarked                 S
class                First
who                    man
adult_male            True
deck                     E
embark_town    Southampton
alive                  yes
alone                 True
Name: 707, dtype: object
null_count:  0
vec: survived                 1
pclass                   1
sex                 female
age                   22.0
sibsp                    0
parch                    0
fare                151.55
embarked                 S
class                First
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 708, dtype: object
null_count:  1
vec: survived               1
pclass                 3
sex                 male
age                  NaN
sibsp                  1
parch                  1
fare             15.2458
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 709, dtype: object
null_count:  2
vec: survived               1
pclass                 1
sex               female
age                 24.0
sibsp                  0
parch                  0
fare             49.5042
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone               True
Name: 710, dtype: object
null_count:  0
vec: survived                 0
pclass                   1
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                 26.55
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                 True
Name: 711, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                   male
age                   48.0
sibsp                    1
parch                    0
fare                  52.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 712, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   29.0
sibsp                    0
parch                    0
fare                9.4833
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 713, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   52.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 714, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   19.0
sibsp                    0
parch                    0
fare                  7.65
embarked                 S
class                Third
who                    man
adult_male            True
deck                     F
embark_town    Southampton
alive                   no
alone                 True
Name: 715, dtype: object
null_count:  0
vec: survived               1
pclass                 1
sex               female
age                 38.0
sibsp                  0
parch                  0
fare             227.525
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone               True
Name: 716, dtype: object
null_count:  0
vec: survived                 1
pclass                   2
sex                 female
age                   27.0
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                  woman
adult_male           False
deck                     E
embark_town    Southampton
alive                  yes
alone                 True
Name: 717, dtype: object
null_count:  0
vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 15.5
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 718, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   33.0
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 719, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                    6.0
sibsp                    0
parch                    1
fare                  33.0
embarked                 S
class               Second
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 720, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   17.0
sibsp                    1
parch                    0
fare                7.0542
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 721, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   34.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 722, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   50.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 723, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                   male
age                   27.0
sibsp                    1
parch                    0
fare                  53.1
embarked                 S
class                First
who                    man
adult_male            True
deck                     E
embark_town    Southampton
alive                  yes
alone                False
Name: 724, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   20.0
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 725, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   30.0
sibsp                    3
parch                    0
fare                  21.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 726, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.7375
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 727, dtype: object
null_count:  2
vec: survived                 0
pclass                   2
sex                   male
age                   25.0
sibsp                    1
parch                    0
fare                  26.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 728, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   25.0
sibsp                    1
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 729, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   29.0
sibsp                    0
parch                    0
fare              211.3375
embarked                 S
class                First
who                  woman
adult_male           False
deck                     B
embark_town    Southampton
alive                  yes
alone                 True
Name: 730, dtype: object
null_count:  0
vec: survived               0
pclass                 3
sex                 male
age                 11.0
sibsp                  0
parch                  0
fare             18.7875
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 731, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                   0.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 732, dtype: object
null_count:  2
vec: survived                 0
pclass                   2
sex                   male
age                   23.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 733, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   23.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 734, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   28.5
sibsp                    0
parch                    0
fare                  16.1
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 735, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   48.0
sibsp                    1
parch                    3
fare                34.375
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 736, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex                 male
age                 35.0
sibsp                  0
parch                  0
fare            512.3292
embarked               C
class              First
who                  man
adult_male          True
deck                   B
embark_town    Cherbourg
alive                yes
alone               True
Name: 737, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 738, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 739, dtype: object
null_count:  2
vec: survived                 1
pclass                   1
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  30.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     D
embark_town    Southampton
alive                  yes
alone                 True
Name: 740, dtype: object
null_count:  1
vec: survived                 0

vec: survived                 0
pclass                   3
sex                   male
age                   25.0
sibsp                    0
parch                    0
fare                  7.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 784, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   25.0
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 785, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   18.0
sibsp                    0
parch                    0
fare                7.4958
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 786, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                   8.0
sibsp                   4
parch                   1
fare               29.125
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 787, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                   male
age                    1.0
sibsp                    1
parch                    2
fare                20.575
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 788, dtype: object
null_count:  1
vec: survived               0
pclass                 1
sex                 male
age                 46.0
sibsp                  0
parch                  0
fare                79.2
embarked               C
class              First
who                  man
adult_male          True
deck                   B
embark_town    Cherbourg
alive                 no
alone               True
Name: 789, dtype: object
null_count:  0
vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 790, dtype: object
null_count:  2
vec: survived                 0
pclass                   2
sex                   male
age                   16.0
sibsp                    0
parch                    0
fare                  26.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 791, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 792, dtype: object
null_count:  2
vec: survived               0
pclass                 1
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare             30.6958
embarked               C
class              First
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 793, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   25.0
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 794, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   39.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 795, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   49.0
sibsp                    0
parch                    0
fare               25.9292
embarked                 S
class                First
who                  woman
adult_male           False
deck                     D
embark_town    Southampton
alive                  yes
alone                 True
Name: 796, dtype: object
null_count:  0
vec: survived                 1
pclass                   3
sex                 female
age                   31.0
sibsp                    0
parch                    0
fare                8.6833
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 797, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                 30.0
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 798, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   30.0
sibsp                    1
parch                    1
fare                 24.15
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 799, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   34.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 800, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   31.0
sibsp                    1
parch                    1
fare                 26.25
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 801, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                   male
age                   11.0
sibsp                    1
parch                    2
fare                 120.0
embarked                 S
class                First
who                  child
adult_male           False
deck                     B
embark_town    Southampton
alive                  yes
alone                False
Name: 802, dtype: object
null_count:  0
vec: survived               1
pclass                 3
sex                 male
age                 0.42
sibsp                  0
parch                  1
fare              8.5167
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 803, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                   male
age                   27.0
sibsp                    0
parch                    0
fare                 6.975
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 804, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   31.0
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 805, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                   39.0
sibsp                    0
parch                    0
fare                   0.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     A
embark_town    Southampton
alive                   no
alone                 True
Name: 806, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                 female
age                   18.0
sibsp                    0
parch                    0
fare                 7.775
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 807, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   39.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 808, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   33.0
sibsp                    1
parch                    0
fare                  53.1
embarked                 S
class                First
who                  woman
adult_male           False
deck                     E
embark_town    Southampton
alive                  yes
alone                False
Name: 809, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   26.0
sibsp                    0
parch                    0
fare                7.8875
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 810, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   39.0
sibsp                    0
parch                    0
fare                 24.15
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 811, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   35.0
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 812, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                    6.0
sibsp                    4
parch                    2
fare                31.275
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 813, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   30.5
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 814, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                   0.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     B
embark_town    Southampton
alive                   no
alone                 True
Name: 815, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   23.0
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 816, dtype: object
null_count:  1
vec: survived               0
pclass                 2
sex                 male
age                 31.0
sibsp                  1
parch                  1
fare             37.0042
embarked               C
class             Second
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 817, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   43.0
sibsp                    0
parch                    0
fare                  6.45
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 818, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   10.0
sibsp                    3
parch                    2
fare                  27.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 819, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   52.0
sibsp                    1
parch                    1
fare                  93.5
embarked                 S
class                First
who                  woman
adult_male           False
deck                     B
embark_town    Southampton
alive                  yes
alone                False
Name: 820, dtype: object
null_count:  0
vec: survived                 1
pclass                   3
sex                   male
age                   27.0
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 821, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                   38.0
sibsp                    0
parch                    0
fare                   0.0
embarked                 S
class                First
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 822, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   27.0
sibsp                    0
parch                    1
fare                12.475
embarked                 S
class                Third
who                  woman
adult_male           False
deck                     E
embark_town    Southampton
alive                  yes
alone                False
Name: 823, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                    2.0
sibsp                    4
parch                    1
fare               39.6875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 824, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 6.95
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 825, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare               56.4958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 826, dtype: object
null_count:  2
vec: survived               1
pclass                 2
sex                 male
age                  1.0
sibsp                  0
parch                  2
fare             37.0042
embarked               C
class             Second
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 827, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 828, dtype: object

In [10]:
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [11]:
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [12]:
titanic['num_missing'] = titanic.apply(count_missing, axis = 1)   #num_missing 이라는 열 추가
print(titanic.head())

vec: survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex               female
age                 38.0
sibsp                  1
parch                  0
fare             71.2833
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone              False
Name: 1, dtype: object
null_count:  0
vec: survived                 1
pclass                   3
sex                 female
age                   26.0
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 2, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   35.0
sibsp                    1
parch                    0
fare                  53.1
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 3, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   35.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 4, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare               8.4583
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 5, dtype: object
null_count:  2
vec: survived                 0
pclass                   1
sex                   male
age                   54.0
sibsp                    0
parch                    0
fare               51.8625
embarked                 S
class                First
who                    man
adult_male            True
deck                     E
embark_town    Southampton
alive                   no
alone                 True
Name: 6, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                    2.0
sibsp                    3
parch                    1
fare                21.075
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 7, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   27.0
sibsp                    0
parch                    2
fare               11.1333
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 8, dtype: object
null_count:  1
vec: survived               1
pclass                 2
sex               female
age                 14.0
sibsp                  1
parch                  0
fare             30.0708
embarked               C
class             Second
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 9, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                    4.0
sibsp                    1
parch                    1
fare                  16.7
embarked                 S
class                Third
who                  child
adult_male           False
deck                     G
embark_town    Southampton
alive                  yes
alone                False
Name: 10, dtype: object
null_count:  0
vec: survived                 1
pclass                   1
sex                 female
age                   58.0
sibsp                    0
parch                    0
fare                 26.55
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                 True
Name: 11, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   20.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 12, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   39.0
sibsp                    1
parch                    5
fare                31.275
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 13, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   14.0
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 14, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   55.0
sibsp                    0
parch                    0
fare                  16.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 15, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                   2.0
sibsp                   4
parch                   1
fare               29.125
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone               False
Name: 16, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 17, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                 female
age                   31.0
sibsp                    1
parch                    0
fare                  18.0
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 18, dtype: object
null_count:  1
vec: survived               1
pclass                 3
sex               female
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                woman
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 19, dtype: object
null_count:  2
vec: survived                 0
pclass                   2
sex                   male
age                   35.0
sibsp                    0
parch                    0
fare                  26.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 20, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                   male
age                   34.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                     D
embark_town    Southampton
alive                  yes
alone                 True
Name: 21, dtype: object
null_count:  0
vec: survived                1
pclass                  3
sex                female
age                  15.0
sibsp                   0
parch                   0
fare               8.0292
embarked                Q
class               Third
who                 child
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 22, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                   male
age                   28.0
sibsp                    0
parch                    0
fare                  35.5
embarked                 S
class                First
who                    man
adult_male            True
deck                     A
embark_town    Southampton
alive                  yes
alone                 True
Name: 23, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                 female
age                    8.0
sibsp                    3
parch                    1
fare                21.075
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 24, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   38.0
sibsp                    1
parch                    5
fare               31.3875
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 25, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 26, dtype: object
null_count:  2
vec: survived                 0
pclass                   1
sex                   male
age                   19.0
sibsp                    3
parch                    2
fare                 263.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                False
Name: 27, dtype: object
null_count:  0
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.8792
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 28, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 29, dtype: object
null_count:  2
vec: survived               0
pclass                 1
sex                 male
age                 40.0
sibsp                  0
parch                  0
fare             27.7208
embarked               C
class              First
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 30, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex               female
age                  NaN
sibsp                  1
parch                  0
fare            146.5208
embarked               C
class              First
who                woman
adult_male         False
deck                   B
embark_town    Cherbourg
alive                yes
alone              False
Name: 31, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 32, dtype: object
null_count:  2
vec: survived                 0
pclass                   2
sex                   male
age                   66.0
sibsp                    0
parch                    0
fare                  10.5
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 33, dtype: object
null_count:  1
vec: survived               0
pclass                 1
sex                 male
age                 28.0
sibsp                  1
parch                  0
fare             82.1708
embarked               C
class              First
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 34, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                   42.0
sibsp                    1
parch                    0
fare                  52.0
embarked                 S
class                First
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 35, dtype: object
null_count:  1
vec: survived               1
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.2292
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                yes
alone               True
Name: 36, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   21.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 37, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   18.0
sibsp                    2
parch                    0
fare                  18.0
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 38, dtype: object
null_count:  1
vec: survived               1
pclass                 3
sex               female
age                 14.0
sibsp                  1
parch                  0
fare             11.2417
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 39, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                 female
age                   40.0
sibsp                    1
parch                    0
fare                 9.475
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 40, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                 female
age                   27.0
sibsp                    1
parch                    0
fare                  21.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 41, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare              7.8958
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 42, dtype: object
null_count:  2
vec: survived               1
pclass                 2
sex               female
age                  3.0
sibsp                  1
parch                  2
fare             41.5792
embarked               C
class             Second
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 43, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                  19.0
sibsp                   0
parch                   0
fare               7.8792
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 44, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S

vec: survived                 0
pclass                   2
sex                   male
age                   43.0
sibsp                    1
parch                    1
fare                 26.25
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 314, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   26.0
sibsp                    0
parch                    0
fare                7.8542
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 315, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   24.0
sibsp                    1
parch                    0
fare                  26.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 316, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   54.0
sibsp                    0
parch                    0
fare                  14.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 317, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   31.0
sibsp                    0
parch                    2
fare              164.8667
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 318, dtype: object
null_count:  0
vec: survived               1
pclass                 1
sex               female
age                 40.0
sibsp                  1
parch                  1
fare               134.5
embarked               C
class              First
who                woman
adult_male         False
deck                   E
embark_town    Cherbourg
alive                yes
alone              False
Name: 319, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 320, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   27.0
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 321, dtype: object
null_count:  1
vec: survived                1
pclass                  2
sex                female
age                  30.0
sibsp                   0
parch                   0
fare                12.35
embarked                Q
class              Second
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True
Name: 322, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   22.0
sibsp                    1
parch                    1
fare                  29.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 323, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    8
parch                    2
fare                 69.55
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 324, dtype: object
null_count:  2
vec: survived               1
pclass                 1
sex               female
age                 36.0
sibsp                  0
parch                  0
fare            135.6333
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone               True
Name: 325, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   61.0
sibsp                    0
parch                    0
fare                6.2375
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 326, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   36.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                     D
embark_town    Southampton
alive                  yes
alone                 True
Name: 327, dtype: object
null_count:  0
vec: survived                 1
pclass                   3
sex                 female
age                   31.0
sibsp                    1
parch                    1
fare                20.525
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 328, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex               female
age                 16.0
sibsp                  0
parch                  1
fare             57.9792
embarked               C
class              First
who                woman
adult_male         False
deck                   B
embark_town    Cherbourg
alive                yes
alone              False
Name: 329, dtype: object
null_count:  0
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   2
parch                   0
fare                23.25
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone               False
Name: 330, dtype: object
null_count:  2
vec: survived                 0
pclass                   1
sex                   male
age                   45.5
sibsp                    0
parch                    0
fare                  28.5
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                 True
Name: 331, dtype: object
null_count:  0
vec: survived                 0
pclass                   1
sex                   male
age                   38.0
sibsp                    0
parch                    1
fare              153.4625
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                False
Name: 332, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   16.0
sibsp                    2
parch                    0
fare                  18.0
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 333, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                    NaN
sibsp                    1
parch                    0
fare                133.65
embarked                 S
class                First
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 334, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                7.8958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 335, dtype: object
null_count:  2
vec: survived                 0
pclass                   1
sex                   male
age                   29.0
sibsp                    1
parch                    0
fare                  66.6
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                False
Name: 336, dtype: object
null_count:  0
vec: survived               1
pclass                 1
sex               female
age                 41.0
sibsp                  0
parch                  0
fare               134.5
embarked               C
class              First
who                woman
adult_male         False
deck                   E
embark_town    Cherbourg
alive                yes
alone               True
Name: 337, dtype: object
null_count:  0
vec: survived                 1
pclass                   3
sex                   male
age                   45.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 338, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                   45.0
sibsp                    0
parch                    0
fare                  35.5
embarked                 S
class                First
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 339, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                   male
age                    2.0
sibsp                    1
parch                    1
fare                  26.0
embarked                 S
class               Second
who                  child
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                False
Name: 340, dtype: object
null_count:  0
vec: survived                 1
pclass                   1
sex                 female
age                   24.0
sibsp                    3
parch                    2
fare                 263.0
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 341, dtype: object
null_count:  0
vec: survived                 0
pclass                   2
sex                   male
age                   28.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 342, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   25.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 343, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   36.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 344, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   24.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                     F
embark_town    Southampton
alive                  yes
alone                 True
Name: 345, dtype: object
null_count:  0
vec: survived                 1
pclass                   2
sex                 female
age                   40.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 346, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                    NaN
sibsp                    1
parch                    0
fare                  16.1
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 347, dtype: object
null_count:  2
vec: survived                 1
pclass                   3
sex                   male
age                    3.0
sibsp                    1
parch                    1
fare                  15.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 348, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   42.0
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 349, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   23.0
sibsp                    0
parch                    0
fare                 9.225
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 350, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  35.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                 True
Name: 351, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                 15.0
sibsp                  1
parch                  1
fare              7.2292
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                 no
alone              False
Name: 352, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   25.0
sibsp                    1
parch                    0
fare                  17.8
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 353, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare               7.225
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 354, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   28.0
sibsp                    0
parch                    0
fare                   9.5
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 355, dtype: object
null_count:  1
vec: survived                 1
pclass                   1
sex                 female
age                   22.0
sibsp                    0
parch                    1
fare                  55.0
embarked                 S
class                First
who                  woman
adult_male           False
deck                     E
embark_town    Southampton
alive                  yes
alone                False
Name: 356, dtype: object
null_count:  0
vec: survived                 0
pclass                   2
sex                 female
age                   38.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 357, dtype: object
null_count:  1
vec: survived                1
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.8792
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                 yes
alone                True

vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 459, dtype: object
null_count:  2
vec: survived                 1
pclass                   1
sex                   male
age                   48.0
sibsp                    0
parch                    0
fare                 26.55
embarked                 S
class                First
who                    man
adult_male            True
deck                     E
embark_town    Southampton
alive                  yes
alone                 True
Name: 460, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   34.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 461, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                   47.0
sibsp                    0
parch                    0
fare                  38.5
embarked                 S
class                First
who                    man
adult_male            True
deck                     E
embark_town    Southampton
alive                   no
alone                 True
Name: 462, dtype: object
null_count:  0
vec: survived                 0
pclass                   2
sex                   male
age                   48.0
sibsp                    0
parch                    0
fare                  13.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 463, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 464, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   38.0
sibsp                    0
parch                    0
fare                  7.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 465, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                   0.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 466, dtype: object
null_count:  2
vec: survived                 0
pclass                   1
sex                   male
age                   56.0
sibsp                    0
parch                    0
fare                 26.55
embarked                 S
class                First
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 467, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                  male
age                   NaN
sibsp                   0
parch                   0
fare                7.725
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 468, dtype: object
null_count:  2
vec: survived               1
pclass                 3
sex               female
age                 0.75
sibsp                  2
parch                  1
fare             19.2583
embarked               C
class              Third
who                child
adult_male         False
deck                 NaN
embark_town    Cherbourg
alive                yes
alone              False
Name: 469, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 470, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   38.0
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 471, dtype: object
null_count:  1
vec: survived                 1
pclass                   2
sex                 female
age                   33.0
sibsp                    1
parch                    2
fare                 27.75
embarked                 S
class               Second
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 472, dtype: object
null_count:  1
vec: survived               1
pclass                 2
sex               female
age                 23.0
sibsp                  0
parch                  0
fare             13.7917
embarked               C
class             Second
who                woman
adult_male         False
deck                   D
embark_town    Cherbourg
alive                yes
alone               True
Name: 473, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                 female
age                   22.0
sibsp                    0
parch                    0
fare                9.8375
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 474, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  52.0
embarked                 S
class                First
who                    man
adult_male            True
deck                     A
embark_town    Southampton
alive                   no
alone                 True
Name: 475, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                   34.0
sibsp                    1
parch                    0
fare                  21.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 476, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   29.0
sibsp                    1
parch                    0
fare                7.0458
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 477, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    0
parch                    0
fare                7.5208
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 478, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                    2.0
sibsp                    0
parch                    1
fare               12.2875
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 479, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    9.0
sibsp                    5
parch                    2
fare                  46.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 480, dtype: object
null_count:  1
vec: survived                 0
pclass                   2
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                   0.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 481, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   50.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 482, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                 female
age                   63.0
sibsp                    0
parch                    0
fare                9.5875
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 483, dtype: object
null_count:  1
vec: survived               1
pclass                 1
sex                 male
age                 25.0
sibsp                  1
parch                  0
fare             91.0792
embarked               C
class              First
who                  man
adult_male          True
deck                   B
embark_town    Cherbourg
alive                yes
alone              False
Name: 484, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                 female
age                    NaN
sibsp                    3
parch                    1
fare               25.4667
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 485, dtype: object
null_count:  2
vec: survived                 1
pclass                   1
sex                 female
age                   35.0
sibsp                    1
parch                    0
fare                  90.0
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 486, dtype: object
null_count:  0
vec: survived               0
pclass                 1
sex                 male
age                 58.0
sibsp                  0
parch                  0
fare                29.7
embarked               C
class              First
who                  man
adult_male          True
deck                   B
embark_town    Cherbourg
alive                 no
alone               True
Name: 487, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   30.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 488, dtype: object
null_count:  1
vec: survived                 1
pclass                   3
sex                   male
age                    9.0
sibsp                    1
parch                    1
fare                  15.9
embarked                 S
class                Third
who                  child
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 489, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    1
parch                    0
fare               19.9667
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 490, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                   male
age                   21.0
sibsp                    0
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 491, dtype: object
null_count:  1
vec: survived                 0
pclass                   1
sex                   male
age                   55.0
sibsp                    0
parch                    0
fare                  30.5
embarked                 S
class                First
who                    man
adult_male            True
deck                     C
embark_town    Southampton
alive                   no
alone                 True
Name: 492, dtype: object
null_count:  0
vec: survived               0
pclass                 1
sex                 male
age                 71.0
sibsp                  0
parch                  0
fare             49.5042
embarked               C
class              First
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 493, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   21.0
sibsp                    0
parch                    0
fare                  8.05
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 494, dtype: object
null_count:  1
vec: survived               0
pclass                 3
sex                 male
age                  NaN
sibsp                  0
parch                  0
fare             14.4583
embarked               C
class              Third
who                  man
adult_male          True
deck                 NaN
embark_town    Cherbourg
alive                 no
alone               True
Name: 495, dtype: object
null_count:  2
vec: survived               1
pclass                 1
sex               female
age                 54.0
sibsp                  1
parch                  0
fare             78.2667
embarked               C
class              First
who                woman
adult_male         False
deck                   D
embark_town    Cherbourg
alive                yes
alone              False
Name: 496, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                    NaN
sibsp                    0
parch                    0
fare                  15.1
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 497, dtype: object
null_count:  2
vec: survived                 0
pclass                   1
sex                 female
age                   25.0
sibsp                    1
parch                    2
fare                151.55
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                   no
alone                False
Name: 498, dtype: object
null_count:  0
vec: survived                 0
pclass                   3
sex                   male
age                   24.0
sibsp                    0
parch                    0
fare                7.7958
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 499, dtype: object
null_count:  1
vec: survived                 0
pclass                   3
sex                   male
age                   17.0
sibsp                    0
parch                    0
fare                8.6625
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 500, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                female
age                  21.0
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 501, dtype: object
null_count:  1
vec: survived                0
pclass                  3
sex                female
age                   NaN
sibsp                   0
parch                   0
fare               7.6292
embarked                Q
class               Third
who                 woman
adult_male          False
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 502, dtype: object
null_count:  2
vec: survived                 0
pclass                   3
sex                 female
age                   37.0
sibsp                    0
parch                    0
fare                9.5875
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                 True
Name: 503, dtype: object
null_count:  1

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [13]:
# 누락값이 있는 데이터만 따로 모아옴
# 누락값이 2개 이상인 데이터 10개
print(titanic.loc[titanic.num_missing > 1, : ].sample(10))   #무작위로 10개 추출

     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
766         0       1    male  NaN      0      0  39.6000        C   First
459         0       3    male  NaN      0      0   7.7500        Q   Third
335         0       3    male  NaN      0      0   7.8958        S   Third
732         0       2    male  NaN      0      0   0.0000        S  Second
384         0       3    male  NaN      0      0   7.8958        S   Third
778         0       3    male  NaN      0      0   7.7375        Q   Third
359         1       3  female  NaN      0      0   7.8792        Q   Third
431         1       3  female  NaN      1      0  16.1000        S   Third
240         0       3  female  NaN      1      0  14.4542        C   Third
410         0       3    male  NaN      0      0   7.8958        S   Third

       who  adult_male deck  embark_town alive  alone  num_missing
766    man        True  NaN    Cherbourg    no   True            2
459    man        True  NaN   Queenstown    no   True            2
335    man        True  NaN  Southampton    no   True            2
732    man        True  NaN  Southampton    no   True            2
384    man        True  NaN  Southampton    no   True            2
778    man        True  NaN   Queenstown    no   True            2
359  woman       False  NaN   Queenstown   yes   True            2
431  woman       False  NaN  Southampton   yes  False            2
240  woman       False  NaN    Cherbourg    no  False            2
410    man        True  NaN  Southampton    no   True            2

In [14]:
print(titanic.loc[titanic.num_missing > 1, : ].info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 5 to 888
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     160 non-null    int64
 1   pclass       160 non-null    int64
 2   sex          160 non-null    object
 3   age          2 non-null      float64
 4   sibsp        160 non-null    int64
 5   parch        160 non-null    int64
 6   fare         160 non-null    float64
 7   embarked     158 non-null    object
 8   class        160 non-null    category
 9   who          160 non-null    object
 10  adult_male   160 non-null    bool
 11  deck         2 non-null      category
 12  embark_town  158 non-null    object
 13  alive        160 non-null    object
 14  alone        160 non-null    bool
 15  num_missing  160 non-null    int64
dtypes: bool(2), category(2), float64(2), int64(5), object(5)
memory usage: 17.4+ KB
None

# 연습문제

In [15]:
encore= [{'name': 'A', 'birth': '1999-06-27', 'mid': 95, 'fin': 85},
              {'name': 'B', 'birth': '1997-06-27', 'mid': 85, 'fin': 80},
              {'name': 'C', 'birth': '1998-06-27', 'mid': 10, 'fin': 30},
              {'name': 'D', 'birth': '2000-06-27', 'mid': 73, 'fin': 90}]
df = pd.DataFrame(encore, columns = ['name', 'birth', 'mid', 'fin'])
df
student = [{'name': 'A', 'birth': '1999-06-27', 'mid': 95, 'fin': 85},
              {'name': 'B', 'birth': '1997-06-27', 'mid': 85, 'fin': 80},
              {'name': 'C', 'birth': '1998-06-27', 'mid': 10, 'fin': 30},
              {'name': 'D', 'birth': '2000-06-27', 'mid': 73, 'fin': 90}]
df = pd.DataFrame(student, columns = ['name', 'birth', 'mid', 'fin'])
df

  name       birth  mid  fin
0    A  1999-06-27   95   85
1    B  1997-06-27   85   80
2    C  1998-06-27   10   30
3    D  2000-06-27   73   90

1. 기존 두 칼럼(mid, fin)을 사용해서 tot 칼럼을 생성하세요. (tot는 mid와 fin의 총합)
2.  기존 칼럼(mid, fin)을 사용해서 avg 칼럼을 생성하세요.
3. grade칼럼을 생성하시고, if~else문 사용
avg 칼럼이 90이상이면 'A',  80 이상이면 'B' 70 이상이면 'C',
그렇지 않으면 'F'를 부여하세요.
4. A,B,C이면 '합격' 그렇지 않으면 '불합격' 을 부여하는 함수를 만들고,
   apply 함수를 사용하여  grade1칼럼에 합격,불합격 부여하세요.
5. 출생년도만을 가져오는 함수를 만들고,
   apply 메서드를 사용하여 연월일의 정보에서 출생년도만 추출하여
   year칼럼에 부여하세요.
6. 나이를 계산하는 함수를 만들고,
   apply 메서드를 사용하여 연월일의 정보에서 연도만 빼서 age칼럼에 부여하세요.
7. 나이가 22세 이상인 사람만 출력해 보세요
8. 나이가 22세 이상이고, 이름이 'A'인 사람만 출력해 보세요
9. birth ~ grade 열까지 출력해 보세요.
10. 'name'과 grade 열만 추출해 보세요.

In [16]:
#1
df['tot'] = df['mid'] + df['fin']
df

  name       birth  mid  fin  tot
0    A  1999-06-27   95   85  180
1    B  1997-06-27   85   80  165
2    C  1998-06-27   10   30   40
3    D  2000-06-27   73   90  163

In [17]:
#2
df['avg'] = df['tot']/2
df

  name       birth  mid  fin  tot   avg
0    A  1999-06-27   95   85  180  90.0
1    B  1997-06-27   85   80  165  82.5
2    C  1998-06-27   10   30   40  20.0
3    D  2000-06-27   73   90  163  81.5

In [18]:
df['grade'] = ''   #dataframe 에 빈 열 추가하기. 또는 reindex(), assign(), insert() 참고
df

  name       birth  mid  fin  tot   avg grade
0    A  1999-06-27   95   85  180  90.0
1    B  1997-06-27   85   80  165  82.5
2    C  1998-06-27   10   30   40  20.0
3    D  2000-06-27   73   90  163  81.5

In [19]:
#3
for i in range(0, df.shape[0]):
    if df['avg'][i] >= 90:
        df['grade'][i] = 'A'
    elif df['avg'][i] >= 80:
        df['grade'][i] = 'B'
    elif df['avg'][i] >= 70:
        df['grade'][i] ='C'
    else:
        df['grade'][i] = 'F'
        
df

C:\Users\lenovo\AppData\Local\Temp\ipykernel_22564\2525398448.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['grade'][i] = 'A'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_22564\2525398448.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['grade'][i] = 'B'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_22564\2525398448.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['grade'][i] = 'F'

  name       birth  mid  fin  tot   avg grade
0    A  1999-06-27   95   85  180  90.0     A
1    B  1997-06-27   85   80  165  82.5     B
2    C  1998-06-27   10   30   40  20.0     F
3    D  2000-06-27   73   90  163  81.5     B

******************************* 중요 ***********************************

In [20]:
#4
df['grade1'] = ''
def gradeSet(x):
    print('x:', x)    #전달된 행을 확인
    for i in range(0, df.shape[0]):
        if x =='A' or x =='B' or x == 'C':
            print('grade:',x)
            return '합격'
        else:
            return '불합격'
        
df['grade1']=df.grade.apply(gradeSet)   # df 데이터프레임의 grade 열을 gradeSet함수로 전달.#grade열의 각 행을 하나씩 전달
df

x: A
grade: A
x: B
grade: B
x: F
x: B
grade: B

  name       birth  mid  fin  tot   avg grade grade1
0    A  1999-06-27   95   85  180  90.0     A     합격
1    B  1997-06-27   85   80  165  82.5     B     합격
2    C  1998-06-27   10   30   40  20.0     F    불합격
3    D  2000-06-27   73   90  163  81.5     B     합격

In [21]:
#5
df['year'] = ''
def yearSet(x):
    print('x:', x)    #전달된 행을 확인
    date = x.split('-')
    return date[0]
    print(date)
        
df['year']=df.birth.apply(yearSet)   # df 데이터프레임의 grade 열을 gradeSet함수로 전달.#grade열의 각 행을 하나씩 전달
df

x: 1999-06-27
x: 1997-06-27
x: 1998-06-27
x: 2000-06-27

  name       birth  mid  fin  tot   avg grade grade1  year
0    A  1999-06-27   95   85  180  90.0     A     합격  1999
1    B  1997-06-27   85   80  165  82.5     B     합격  1997
2    C  1998-06-27   10   30   40  20.0     F    불합격  1998
3    D  2000-06-27   73   90  163  81.5     B     합격  2000

In [22]:
#6
import datetime
df['age'] = 0

def ageSet(x):
    x = int(x)
    print('x: ', type(x))
    #birth = datetime.datetime.strptime(x, '%Y-%m-%d').date()
    #today = date.today()
    today = 2023
    
    #print(birth)
    #print(date.today())
    age = today - x
    print('age: ', age)
    return age
    

df['age'] = df.year.apply(ageSet)
df

x:  <class 'int'>
age:  24
x:  <class 'int'>
age:  26
x:  <class 'int'>
age:  25
x:  <class 'int'>
age:  23

  name       birth  mid  fin  tot   avg grade grade1  year  age
0    A  1999-06-27   95   85  180  90.0     A     합격  1999   24
1    B  1997-06-27   85   80  165  82.5     B     합격  1997   26
2    C  1998-06-27   10   30   40  20.0     F    불합격  1998   25
3    D  2000-06-27   73   90  163  81.5     B     합격  2000   23

In [23]:
#7
df.loc[df.age > 22, : ]

  name       birth  mid  fin  tot   avg grade grade1  year  age
0    A  1999-06-27   95   85  180  90.0     A     합격  1999   24
1    B  1997-06-27   85   80  165  82.5     B     합격  1997   26
2    C  1998-06-27   10   30   40  20.0     F    불합격  1998   25
3    D  2000-06-27   73   90  163  81.5     B     합격  2000   23

In [24]:
#8
df.loc[(df.age > 22) & (df.name == 'A'), :]    #and는 &, or는 |, not은 ~

  name       birth  mid  fin  tot   avg grade grade1  year  age
0    A  1999-06-27   95   85  180  90.0     A     합격  1999   24

In [25]:
#9
df.loc[:,'birth' : 'grade']

        birth  mid  fin  tot   avg grade
0  1999-06-27   95   85  180  90.0     A
1  1997-06-27   85   80  165  82.5     B
2  1998-06-27   10   30   40  20.0     F
3  2000-06-27   73   90  163  81.5     B

In [26]:
#10
df.loc[:,['name','grade']]

  name grade
0    A     A
1    B     B
2    C     F
3    D     B